/* for index.html */
#page-header {
    background:  lightblue;
    display:  flex;
    flex-wrap:  wrap;
}

#logo {
    margin:  20px;

}

#welcome-banner {
    font-family:  Arial, Helvetica, sans-serif;
    padding:  20px;
}

#welcome-banner p {
    font-size:  20px;
}

#nav-bar {
    display:  flex;
    flex-wrap:  nowrap;
    align-items: center;
    height:  100px;
    width:  100%; 
    background-color:  lightskyblue;
    justify-content:  space-evenly;
}

#nav-bar a {
    float: left;
    color:  black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

#nav-bar a:hover {
    background-color:  lightcoral;
    color:  black;
}

.active {
    background-color:  lightcoral;
}

.main-content{
    width:  100%;
    background:  lightgrey;
    display:  flex;
    flex-wrap:  wrap;
    align-items: center;
    border-style:  solid;
}

.main-content-img {
    width:  30%;
    height:  auto;
    padding:  10px;
    object-fit:  contain;
}

.main-content-p {
    width:  60%;
    padding:  10px;
}

footer {
    background:  pink;
    display:  flex;
    flex-direction:  column;
    align-items: center;
}

footer p {
    margin:  0px;
    font-size:  12px;
}

.games {
    display:  flex;
    flex-wrap:  wrap;
    justify-content:  space-evenly;
}

.games > img {
    width:  20%;
    height:  auto;
    object-fit: contain;
}

.discord {
    display:  flex;
    flex-direction:  column;
    justify-content: space-evenly;
}

.discord > img {
    width:  20%;
    height:  auto;
    object-fit: contain;
    margin:  auto;
}



/* for about.html */
